@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Creepster&family=Moo+Lah+Lah&family=Tangerine:wght@700&display=swap');

.home{
    background-image: url("https://cutewallpaper.org/21/space-gif-wallpaper/Stars-Gif-1920x1080-Ryanmartinproductions.com.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    opacity:0.8;
}
  
  .mobile-container {
  margin: auto;
  background-color: #555;
  color: white;
  }
  
  .topnav {
    position: relative;
    width:100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.164);
    border-bottom: 1px solid rgba(225,225,225,0.5);
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #0476aa5e;
    color: white;
    border-radius: 100%;
    font-family: 'Bungee Inline', cursive;
  }